:root {
  --teal: #20998b;
  --pale-cream: #fcf8f4;
  --caramel: #e7d8c9;
  --soft-pink: #e4babe;
  --dark-grey: #42454C;
}

body {
  margin: 0 3em;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--pale-cream);
   color: var(--dark-grey)
}

/* TYPOGRAPHY */
h1, h2 {
  font-family: 'Italiana', serif;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--soft-pink);
}

.left-nav,
.right-nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--dark-grey)
}

a:hover, 
a:focus {
  color: var(--teal);
}

button {
  background-color: var(--teal);
  border: none;
  border-radius: 4px;
  color: var(--pale-cream);
  font-weight: 600;
  padding: 1em 2em;
}

/* INFO BOXES */

.info {
  display: flex;
  gap: 2em;
  margin: 2em 0;
}
.info-hatha, .info-restorative, .info-quote {
    padding: 0 2em;
}

.info-hatha {
  background-color: var(--teal);
  color: var(--pale-cream)
}

.info-restorative {
  background-color: var(--caramel);
}

.info-quote {
  background-color: var(--soft-pink);
  font-weight: 600;
}
