:root {
  --teal: #20998b;
  --pale-cream: #fcf8f4;
  --caramel: #e7d8c9;
  --soft-pink: #e4babe;
  --dark-grey: #42454c;
}

body {
  margin: 0 3em;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--pale-cream);
  color: var(--dark-grey);
  font-size: 16px;
  min-height: 100vh;
}

/* TYPOGRAPHY */
h1,
h2 {
  font-family: "Italiana", serif;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav,
.right-nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--dark-grey);
}

a:hover,
a:focus {
  color: var(--teal);
}

button {
  background-color: var(--teal);
  border: none;
  border-radius: 4px;
  color: var(--pale-cream);
  font-weight: 600;
  padding: 1em 2em;
}

/* HERO */

.hero {
  height: 400px;
  margin: 0 -3em;
  background: linear-gradient(58deg, rgba(32,153,139,0.6) 0%, rgba(32,153,139,0.6) 100%), url(./images/restorative-yoga-savasana.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 45%;
  position: relative;
}

.hero-price {
  background-color: var(--soft-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50px;
  right: 100px;
}

.hero-price p {
  margin: 0;
}

.hero-copy {
  width: 15%;
  font-size: 1.2rem;
  position: absolute;
  top: 220px;
  left: 100px;
  color: var(--pale-cream);
}

.hero-copy span {
  font-weight: 600;
}

/* INFO BOXES */

.info {
  display: flex;
  gap: 2em;
  width: 80%;
  margin: 3em auto;
}
.info-flow,
.info-restorative,
.info-quote {
  padding: 0 2em;
}

.info p {
  width: 80%;
}

.info-flow {
  background-color: var(--teal);
  color: var(--pale-cream);
  position: relative;
}

.info-restorative {
  background-color: var(--caramel);
  position: relative;
}

.info-img {
  opacity: 0.5;
}

.lotus,
.meditation {
  width: 80px;
  position: absolute;
  top: 15px;
  right: 5px;
}

.info-quote {
  background-color: var(--soft-pink);
  font-weight: 600;
  position: relative;
}

.quote-marks {
  width: 50px;
  position: absolute;
  top: 30px;
  right: -25px;
}

.info-overview {
  width: 80%;
  margin: 4em auto;
  display: flex;
  gap: 2em;
}

.info-overview-copy {
  display: block;
  flex-basis: 150px;
  flex-grow: 1;
}

.info-overview img {
  width: 50%;
}

/* MAILING LIST */

.mailing-list-section {
  background-color: var(--caramel);
  margin: 0 -3em;
  padding-bottom: 2em;
}

.mailing-list {
  width: 50%;
  margin: auto;
  padding: 1em;
  text-align: center;
}

input {
  padding: 1em;
  border-radius: 4px;
  border: none;
  margin-right: 1em;
}

/* BLOG*/

.latest-blog-title {
  text-align: center;
  margin: 2em;
}

.latest-blog {
  width: 80%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.blog-thumbnail {
  width: 100%;
}

.latest-blog button {
  display: block;
  margin: 0 auto;
}

/* GALLERY */

.gallery {
  margin: 3em auto;
  width: 80%;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.gallery-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* FOOTER */

footer {
  border-top: 1px solid var(--soft-pink);
  margin-top: 3em;
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
  gap: 6em;
}

footer > * {
  flex: 1;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 1em;
  grid-template-areas:
    "instagram facebook "
    "logo logo";
  justify-items: center;
  align-items: start;
}

.facebook {
  grid-area: facebook;
  justify-self: start;
}

.instagram {
  grid-area: instagram;
  justify-self: end;
}

.social-icons {
  font-size: 3rem;
}

.logo {
  grid-area: logo;
  width: 100%;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}
.footer-nav a {
  font-weight: 400;
}
